<!DOCTYPE html>
{{ define "content" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA Example</title>
    
    <style>
        body {
            background-color: #f0f8ff;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }

	</style>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div id="2faFrame">
    <div id="2faSection">
        <h2>Verify 2FA</h2>
        <form id="verify2faForm">
            <label for="code">Enter 2FA Code:</label>
            <input type="text" id="code" name="code" required>
            <br>
            <button type="button" id="verify2faButton">Verify 2FA</button>
        </form>
    </div>
</div>

<script>
    // Verify 2FA
    $("#verify2faButton").click(function () {
        const code = $("#code").val();

        $.ajax({
            method: 'POST',
            url: '/auth2fa',
            contentType: 'application/json',
            data: JSON.stringify({ code: code }),
            success: function (data) {
                alert("2FA code verified. Access granted!");
                window.location.href = "{{.basePath}}/dashboard"; // 替换成你的目标页面路径
            },
            error: function (error) {
                alert("Verify 2FA failed: " + error.responseText);
            }
        });
    });
</script>

</body>
</html>
{{ end }}
