<!-- base.html -->
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="assets/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>{{ .username }}</title>
</head>

<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Journal</span>
                </a>
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {{ template "menu" . }}
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
{{end}}
