<!DOCTYPE html>
{{ template "base" . }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Browser</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            margin-top: 5px; 
            vertical-align: middle;
            padding: 8px;
            cursor: pointer;
            width: auto;
        }

        th {
            background-color: #f2f2f2;
        }
       
        a {
            text-decoration: none;
            color: #333333;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("fileTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
    
                    // If sorting by Size, parse and compare as numbers
                    if (n === 4) { // Adjusted index to account for the new checkbox column
                        var xValue = parseFloat(x.innerHTML);
                        var yValue = parseFloat(y.innerHTML);
    
                        if ((dir === "asc" && xValue > yValue) || (dir === "desc" && xValue < yValue)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        // For Name, Modified Time, Type, and Size, compare as strings
                        if ((dir === "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) ||
                            (dir === "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        function deleteSelected() {
            var selectedFiles = [];
            var checkboxes = document.querySelectorAll('#fileTable tbody input[type="checkbox"]:checked');

            checkboxes.forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                //var name = row.cells[1].innerText; // Assuming the name is in the second column
                var name = row.cells[1].querySelector('a').getAttribute('href');
                //var encodedName = encodeURIComponent(name);
                selectedFiles.push(name);
            });

            // Send the selected files to the backend using AJAX (you can use fetch or other libraries)
            fetch('/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ files: selectedFiles }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle the response from the backend
                console.log(data);
                location.reload();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            refresh();
        });
        
        function refresh() {
            fetch('/listfile', {
                method: 'GET',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 清空表格中的数据
                var tableBody = document.querySelector('#fileTable tbody');
                tableBody.innerHTML = '';

                // 将服务器返回的数据填充到表格中
                data.meta.forEach(file => {
                    var newRow = document.createElement('tr');
                    
                    newRow.innerHTML = `
                        <td>
                            <input type="checkbox">
                        </td>
                        <td style="display: flex; flex-direction: column; align-items: left;">
                            ${file.ThumbnailType.startsWith("video")?
                            `<video controls muted autoplay loop preload="auto" width="320px" height="240px"> \
                                <source src="${file.Thumbnail}" type="${file.ThumbnailType}"> \
                                Sorry, your browser does not support embedded videos \
                            </video>`
                            : file.ThumbnailType.startsWith("audio") ?
                            `<audio controls loop preload="auto" width="320px" height="50px"> \
                                <source src="${file.Thumbnail}" type="${file.ThumbnailType}"> \
                                Sorry, your browser does not support embedded videos \
                            </audio>`
                            : file.ThumbnailType.startsWith("image") ?
                            `<img src="${file.Thumbnail}" alt="image" width="320px" height="240px"/>`
                            :
                            `<object type="${file.ThumbnailType}" data="${file.Thumbnail}" width="320px" height="240px"> \
                                <img src="/static/ufo.png" alt="useful image description" sizes="320px, 240px"/> \
                            </object> `}
                            <a href="${file.URL}">${file.Name}</a>
                        </td>
                        <td>${file.ModTime}</td>
                        <td>${file.Type}</td>
                        <td>${file.Size}</td>
                    `;
                    tableBody.appendChild(newRow);
                });

                // 处理 Meta 数据
                handleMeta(data.meta);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        function handleMeta(meta) {
            // 根据 meta 的具体类型进行处理
            // 这里假设 Meta 是一个对象，并且包含了一些信息
            console.log('Meta:', meta);
        }
        
    </script>
    
</head>
<body>
    <h1>File Browser</h1>
    <button onclick="deleteSelected()">Delete Selected</button>
    <button onclick="refresh()">Refresh</button>
    <table id="fileTable">
        <thead>
            <tr>
                <th></th> 
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Modified Time</th>
                <th onclick="sortTable(3)">Type</th>
                <th onclick="sortTable(4)">Size</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>

