{{ template "base" . }}
<head>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
	<style>
		/* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            max-width: 100%;
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
            overflow-x: hidden;
        }
       
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
	</style>
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Security setting - Journal</h1>
                </header>
				<div id="SecurityFrame">
					<div id="2faSection">
						<h2>2-Factor Configuration</h2>
						<br>
						<button type="button" id="disable2faButton" {{ if not .enable2fa }}disabled{{end}}>Disable 2FA</button>
					
						<button type="button" id="enable2faButton" {{ if .enable2fa }}disabled{{end}}>Enable 2FA</button>
						<br>
						<button type="button" id="displayQR" {{ if not .enable2fa }}disabled{{end}}>display QR</button>
						<br>
						<!-- Element to display the 2FA secret -->
						<textarea id="2faSecret" cols="60" rows="4" readonly></textarea>
						<br>
						<div id="messageContainer"></div>
						<!-- Container for displaying the QR code -->
						<!-- Modal -->
						<div id="qrModal" class="modal">
							<div class="modal-content">
								<span class="close" onclick="closeModal()">&times;</span>
								
								<div id="qrcode-container"></div>
							</div>
						</div>
					</div>
					<div id="PasswordSection"></div>
					<h2>Password</h2>
						<form id="changePasswordForm">
							<label for="oldPassword">Old Password: </label>
							<input type="password" id="oldPassword" name="oldPassword" required>
							<label for="newPassword">New Password:</label>
							<input type="password" id="newPassword" name="newPassword" required>
							<label for="newPasswordCfm">New Password Confirm:</label>
							<input type="password" id="newPasswordCfm" name="newPasswordCfm" required>
							<input type="submit" value="Change Password">
						</form>
                        <div id="PasswordmessageContainer"></div>
					</div>
				</div>
            </div>
        </div>
    </div>
	
	<script>
		// Initially hide the QR code container
		$("#qrcode-container").hide();

		$("#displayQR").click(function () {
			// Show the modal
			$("#qrModal").css("display", "block");
		});

		// Enable 2FA
		$("#enable2faButton").click(function () {
			$.ajax({
				method: 'POST',
				url: '/enable2fa',
				contentType: 'application/json',
				
				success: function (data) {
					$("#messageContainer").html("2FA enabled. Scan the QR code in your authenticator app. The QR code will never show after.");

					// Display data.message in the label for "key"
					$("label[for='key']").text("2FA feature is enabled");

					// Display the 2FA secret
					$("#2faSecret").val("Your 2FA secret: " + data.meta);

					// Clear the existing QR code in the container
					$("#qrcode-container").empty();
					// Show the modal
					$("#qrModal").css("display", "block");
					// Display QR code using the qrcode.js library in the specified container
					const qr = new QRCode(document.getElementById("qrcode-container"), data.message);
					
					// Show the QR code container
					$("#qrcode-container").show();
					
					// Disable the "Enable 2FA" button and enable the "Disable 2FA" button
					$("#enable2faButton").prop("disabled", true);
					$("#disable2faButton").prop("disabled", false);
					$("#displayQR").prop("disabled", false);
				},
				error: function (error) {
					$("#messageContainer").html("Enable 2FA failed: " + error.responseText);
					
				}
			});
		});

		// Close the modal
		function closeModal() {
			$("#qrModal").css("display", "none");
		}

		// Close the modal if the user clicks outside of it
		$(window).click(function (event) {
			if (event.target.id === "qrModal") {
				closeModal();
			}
		});
		// Disable 2FA
		$("#disable2faButton").click(function () {
			$.ajax({
				method: 'POST',
				url: '/disable2fa',
				contentType: 'application/json',
				
				success: function (data) {
					// Hide the QR code container
					$("#qrcode-container").hide();
					
					// Clear the 2FA secret
					$("#2faSecret").val("");

					// Enable the "Enable 2FA" button and disable the "Disable 2FA" button
					$("#enable2faButton").prop("disabled", false);
					$("#disable2faButton").prop("disabled", true);
					$("#displayQR").prop("disabled", true);

					$("#messageContainer").html("2FA feature is disabled");
				},
				error: function (error) {
					$("#messageContainer").html("Disable 2FA failed: " + error.responseText);
				
				}
			});
		});
		$(document).ready(function() {
			$('#newPassword, #newPasswordCfm').on('keyup', function() {
				var newpassword = $('#newPassword').val();
				var confirmPassword = $('#newPasswordCfm').val();

				if (newpassword !== confirmPassword) {
					$('#PasswordmessageContainer').text('新密码不匹配').css('color', 'red');
				} else {
					$('#PasswordmessageContainer').text('新密码匹配').css('color', 'green');
				}
			});

			// 在此添加其他输入框的验证逻辑
		});
		$("#changePasswordForm").submit(function (event) {
			event.preventDefault();

			var oldPassword = $('#oldPassword').val();
			var newPassword = $('#newPassword').val();
			var confirmPassword = $('#newPasswordCfm').val();
			if (newPassword !== confirmPassword) {
				$('#PasswordmessageContainer').text('2次输入新密码不匹配');
				return;
			}

			$.ajax({
				method: 'POST',
				url: '/changepassword',
				contentType: 'application/json',
				data: JSON.stringify({
					oldPassword: oldPassword,
					newPassword: newPassword
				}),
				success: function (data) {
					$("#PasswordmessageContainer").html("Password changed successfully!");

				},
				error: function (error) {
					$("#PasswordmessageContainer").html("Password change failed: " + error.responseText);

				}
			});
		});

	</script>
</body>

