{{ template "base" . }}
<head>
	<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet">
</head>
<body class="is-preload">
	<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
				<div id="main">
					<div class="inner">
						<header>
							<h1>Vedio Page<br />	
						</header>
						<section class="tiles">
							<article class="style2">
									<video id="videoContainer" class="video-js" playsinline controls loop muted preload="auto" width="350" height="300">
										<!-- 如果浏览器不支持 HTML5 video 标签，显示备用信息 -->
										Your browser does not support HTML5 video.
									</video>
							</article>
						</section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<section>
							<h2>Get in touch</h2>
							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send" class="primary" /></li>
								</ul>
							</form>
						</section>
						<section>
							<h2>Follow</h2>
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
								<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</footer>

		</div>

	<!-- Scripts -->
		<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
		<script>
			var videoList; // 全局变量，用于存储视频列表数据
			var currentIndex = 0;
			// Fetch video list from backend using AJAX
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/listfile?type=0', true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === XMLHttpRequest.DONE) {
					if (xhr.status === 200) {
						var respJson = JSON.parse(xhr.responseText);
						videoList = respJson.meta;
						console.log(videoList)
						
						// Show the first video initially
						showVideo(0);
					} else {
						console.error('Error fetching video list: ' + xhr.status);
					}
				}
			};
			xhr.send();
			// 初始化 Video.js 播放器
			var videoContainer = videojs('videoContainer', {controlBar:{
					'currentTimeDisplay':true,
					'timeDivider':true,
					'durationDisplay':true,
					'remainingTimeDisplay':false
				}}, function(){
				videojs.log('播放器准备好了!');
				
				this.on('ended', function() {
					videojs.log('播放结束!');
				});
				this.on('fullscreenchange', function () {
					if (videoContainer.isFullscreen()) {
						// 进入全屏模式时，隐藏 Video.js 控件
						videoContainer.controlBar.hide();
					} else {
						// 退出全屏模式时，显示 Video.js 控件
						videoContainer.controlBar.show();
					}
				});
			});
			var prevButton = videoContainer.controlBar.addChild('button');
			prevButton.addClass('vjs-prev-button');
			prevButton.el().innerHTML = '<span class="vjs-icon-placeholder"></span><<';

			// 添加按钮点击事件处理程序
			prevButton.on('pointerdown', function () {
				// 在这里添加您的逻辑，处理点击"Previous"按钮的操作
				currentIndex = (currentIndex - 1 + videoList.length) % videoList.length;

				showVideo(currentIndex);
				console.log('Previous button clicked!');
			});

			// 添加自定义的"Next"按钮到控制栏
			var nextButton = videoContainer.controlBar.addChild('button');
			nextButton.addClass('vjs-next-button');
			nextButton.el().innerHTML = '<span class="vjs-icon-placeholder"></span>>>';

			// 添加按钮点击事件处理程序
			nextButton.on('pointerdown', function () {
				// 在这里添加您的逻辑，处理点击"Next"按钮的操作
				currentIndex = (currentIndex + 1) % videoList.length;

				showVideo(currentIndex);
				console.log('Next button clicked!');
			});
			
			function showVideo(index) {
				var data = {
					src: videoList[index].URL,
					type: 'video/mp4'
				};
				
				videoContainer.src(data);
				videoContainer.load(data);
				videoContainer.play()
			}
		</script>
</body>

