{{ template "base" . }}

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            margin-top: 5px; 
            vertical-align: middle;
            padding: 8px;
            cursor: pointer;
            width: auto;
        }

    </style>
    
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("fileTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
    
                    // If sorting by Size, parse and compare as numbers
                    if (n === 4) { // Adjusted index to account for the new checkbox column
                        var xValue = parseFloat(x.innerHTML);
                        var yValue = parseFloat(y.innerHTML);
    
                        if ((dir === "asc" && xValue > yValue) || (dir === "desc" && xValue < yValue)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        // For Name, Modified Time, Type, and Size, compare as strings
                        if ((dir === "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) ||
                            (dir === "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        
        function combineSelected() {
            var selectedFiles = [];
            var checkboxes = document.querySelectorAll('#fileTable tbody input[type="checkbox"]:checked');
            var outputFilename = document.getElementById('combineFilename').value;
            var resolution = document.getElementById('resolutionSelect').value;
            var durationPerPic = document.getElementById('durationPerPic').value;
            var drawText = document.getElementById('drawText').value;
            var drawTextSize = document.getElementById('drawTextSize').value;
            var drawTextColor = document.getElementById('drawTextColor').value;
			
            checkboxes.forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                //var name = row.cells[1].innerText; // Assuming the name is in the second column
                var name = row.cells[1].querySelector('a').getAttribute('href');
                //var encodedName = encodeURIComponent(name);
                selectedFiles.push(name);
            });
			if(selectedFiles.length === 0) {
                $('#errorMessage').text('请选则需要合成的文件');
				return
			}
			$('#errorMessage').text("正在合成文件..."+outputFilename)
            // Send the selected files to the backend using AJAX (you can use fetch or other libraries)
            fetch('/combine', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ outputfile: outputFilename, 
                    files: selectedFiles , 
                    meta: {
                            scale: resolution,
                            duration: durationPerPic,
                            drawtext :{
                                text: drawText,
                                fontsize: drawTextSize,
                                fontcolor: drawTextColor,
                            }
                        }}),
            })
            .then(response => {
                if (!response.ok) {
                    $('#errorMessage').text(response.json().message + response.json().meta)
                }
                return response.json();
            })
            .then(data => {
                // Handle the response from the backend
                console.log(data);
                $('#errorMessage').text(data.message)
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            refresh();
        });
        
        function refresh() {     
            fetch(`/listfile?type=255` , {
                method: 'POST',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 清空表格中的数据
                var tableBody = document.querySelector('#fileTable tbody');
                tableBody.innerHTML = '';

                // 将服务器返回的数据填充到表格中
                data.meta.forEach(file => {
                    var newRow = document.createElement('tr');
                    
                    newRow.innerHTML = `
                        <td>
                            <input type="checkbox" id="${file.Name}">
                            <label for="${file.Name}"></label>
                        </td>
                        <td style="display: flex; flex-direction: column; align-items: left;">
                            ${file.ThumbnailType.startsWith("video")?
                            `<video controls muted autoplay loop preload="auto" width="320px" height="240px"> \
                                <source src="${file.Thumbnail}" type="${file.ThumbnailType}"> \
                                Sorry, your browser does not support embedded videos \
                            </video>`
                            : file.ThumbnailType.startsWith("audio") ?
                            `<audio controls loop preload="auto" width="320px" height="50px"> \
                                <source src="${file.Thumbnail}" type="${file.ThumbnailType}"> \
                                Sorry, your browser does not support embedded videos \
                            </audio>`
                            : file.ThumbnailType.startsWith("image") ?
                            `<img src="${file.Thumbnail}" alt="image" width="320px" height="240px"/>`
                            :
                            `<object type="${file.ThumbnailType}" data="${file.Thumbnail}" width="320px" height="240px"> \
                                <img src="/assets/ufo.png" alt="useful image description" sizes="320px, 240px"/> \
                            </object> `}
                            <a href="${file.URL}">${file.Name}</a>
                        </td>
                        <td>${file.ModTime}</td>
                        <td>${file.Type}</td>
                        <td>${file.Size}</td>
                    `;
                    tableBody.appendChild(newRow);
                });

                // 处理 Meta 数据
                handleMeta(data.meta);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        function handleMeta(meta) {
            // 根据 meta 的具体类型进行处理
            // 这里假设 Meta 是一个对象，并且包含了一些信息
            console.log('Meta:', meta);
        }
        
    </script>

</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Work Shop</h1>
                </header>
                <!-- Form -->
                <section>
                    <h2>Configuration</h2>
                    <form action="javascript:combineSelected()">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" id="combineFilename" value="" placeholder="File Name" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" id="filterComplex" value="" placeholder="[0:v][1:v]blend=all_expr='A*B'" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <select name="demo-category" id="resolutionSelect">
                                    <option value="1280:720">1280x720</option>
                                    <option value="1920:1080">1920x1080</option>
                                    <option value="2048:1080">2048x1080</option>
                                    <option value="3840:2160">3840x2160</option>
                                    <option value="4096:2160">4096x2160</option>
                                </select>
                                <input type="text" id="durationPerPic" value="" placeholder="2.5(duraiont for each pic(second))" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" id="drawText" value="" placeholder="" />
                                <input type="text" id="drawTextSize" value="" placeholder="25" />
                                <input type="text" id="drawTextColor" value="" placeholder="white" />
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                                <label for="demo-priority-low">Low</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="radio" id="demo-priority-normal" name="demo-priority">
                                <label for="demo-priority-normal">Normal</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="radio" id="demo-priority-high" name="demo-priority">
                                <label for="demo-priority-high">High</label>
                            </div>
                            <div class="col-6 col-12-small">
                                <input type="checkbox" id="demo-copy" name="demo-copy">
                                <label for="demo-copy">Email me a copy</label>
                            </div>
                            <div class="col-6 col-12-small">
                                <input type="checkbox" id="demo-human" name="demo-human" checked>
                                <label for="demo-human">Not a robot</label>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Combine Selected Items" class="primary" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                            <div class="error-message" id="errorMessage"></div>
                        </div>
                    </form>
                </section>
                
                <table id="fileTable">
                    <thead>
                        <tr>
                            <th></th> 
                            <th onclick="sortTable(1)">Name</th>
                            <th onclick="sortTable(2)">Modified Time</th>
                            <th onclick="sortTable(3)">Type</th>
                            <th onclick="sortTable(4)">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


